.input {
  max-width: 350px;
}

.list {
  max-width: 900px;
}

.book {
  margin: 0 20px 40px;
  grid-template-rows: auto 1fr auto;
  width: 150px;
  text-align: center;

  &__img {
    width: 124px;
    height: 186px;

    &--mock {
      border: 1px solid #f59e0b;
      background: url("../../assets/hat.png") center / 100px no-repeat;
    }
  }

  &__buttons {
    width: 124px;

    &-item {
      width: 30px;
      height: 30px;

      // books_3532358
      // selling_902725
      // wishlist_4379680

      &[data-type="collection"] {
        background-image: url("../../assets/book_empty.png");
      }

      &[data-type="sell"] {
        background-image: url("https://image.flaticon.com/icons/png/512/902/902762.png");
      }

      &[data-type="wishlist"] {
        background-image: url("../../assets/wichlist_empty.png");
      }

      &[data-status="true"] {
        &[data-type="collection"] {
          background-image: url("../../assets/book_full.png");
        }

        &[data-type="sell"] {
          background-image: url("https://image.flaticon.com/icons/png/512/902/902725.png");
        }

        &[data-type="wishlist"] {
          background-image: url("../../assets/wishlist_full.png");
        }
      }
    }
  }
}
