.book {
	margin: 0 20px 40px;
	grid-template-rows: auto 1fr auto;
	width: 150px;
	text-align: center;

	&__img {
		width: 124px;
		height: 186px;

		&--mock {
			border: 1px solid #f59e0b;
			background: url("../../../Assets/hat.png") center / 100px no-repeat;
		}
	}

	&__buttons {
		width: 124px;

		&-item {
			width: 30px;
			height: 30px;
			cursor: pointer;

			// selling_902725

			&[data-type="collection"] {
				background-image: url("../../../Assets/book_empty.png");
			}

			&[data-type="read"] {
				background-image: url("../../../Assets/read_empty.png");
			}

			&[data-type="wishlist"] {
				background-image: url("../../../Assets/wichlist_empty.png");
			}

			&[data-status="true"] {
				&[data-type="collection"] {
					background-image: url("../../../Assets/book_full.png");
				}

				&[data-type="read"] {
					background-image: url("../../../Assets/read_full.png");
				}

				&[data-type="wishlist"] {
					background-image: url("../../../Assets/wishlist_full.png");
				}
			}

			&[data-disabled="true"] {
				pointer-events: none;
			}
		}
	}

	&__title {
		width: 124px;
	}
}
